doctype html
html(lang="en")
  head
    title #{broker_username} - Deposit receipts
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | <style type='text/css'>
    include style.css
    | </style>

  if lang == "es"
    - var receipt = "Recibo de depósito"
    - var submit  = "Submit"
    - var control = "Número de control"
  else if lang == "pt_BR"
    - var receipt = "Comprovante"
    - var submit  = "Enviar"
    - var control = "Numero de controle"
  else
    - var receipt = "Deposit receipt"
    - var submit  = "Submit"
    - var control = "Control number"

  body
    #container
      form(method="POST", action="/", enctype="multipart/form-data")
        input(type="hidden" value="#{user_id}" name="user_id")
        input(type="hidden" value="#{username}" name="username")
        input(type="hidden" value="#{broker_id}" name="broker_id")
        input(type="hidden" value="#{broker_username}" name="broker_username")
        input(type="hidden" value="#{deposit_method}" name="deposit_method")
        input(type="hidden" value="#{deposit_id}" name="deposit_id")
        if value
          input(type="hidden" value="#{value}" name="value")
        if formatted_value
          input(type="hidden" value="#{formatted_value}" name="formatted_value")
        if testnet
          input(type="hidden" value="#{testnet}" name="testnet")

        .field
          label
            span= control
            span.red
              | *
          input(type="text" readonly id="control_number" value="#{control_number}" name="control_number" required)

        block content

        .field
          label(for="file")
            span= receipt
            span.red
              | *
          input(type="file" id="file" name="file" required)
        .field.flash
          if messageFile
            label
            span= messageFile
        .field
          label
          input.btn(type="submit" id="submit" value="#{submit}")
